@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/ComicNeue-Bold.woff2") format("woff2"),
    url("./assets/fonts/ComicNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/ComicNeue-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/ComicNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/ComicNeue-Light.woff2") format("woff2"),
    url("./assets/fonts/ComicNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/ComicNeue-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/ComicNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/ComicNeue-Regular.woff2") format("woff2"),
    url("./assets/fonts/ComicNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comic Neue";
  src: url("./assets/fonts/ComicNeue-Italic.woff2") format("woff2"),
    url("./assets/fonts/ComicNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
