// ----------------- COLOR VARS -----------------
$color-primary: rgb(29, 29, 29);
$color-secondary: rgb(240, 207, 24);
$color-radiant: rgb(230, 181, 49);
$color-danger: rgb(235, 109, 109);
$color-success: rgb(130, 235, 109);

// ----------------- FONT VARS -----------------
$title: bold 2.5rem "Comic Neue";
$subtitle: bold 2rem "Comic Neue";
$parragraph: normal 1.2rem "Comic Neue";

$title-responsive: bold 1.6rem "Comic Neue";
$subtitle-responsive: bold 1.2rem "Comic Neue";
$parragraph-responsive: normal 0.9rem "Comic Neue";
